%div
  = link_to image_tag(user.avatar_url, :size => "32x32"), "https://github.com/#{user.login}", :target => '_blank' 
  = user.name
  |   
  = link_to user.login, "https://github.com/#{user.login}", :target => '_blank' 
  .clear
  - unless user.location == 'none'
    location :
    = user.location
    .clear
  followers :
  = user.followers
  .clear
  following :
  = user.following
  .clear
  public_repos :
  = user.public_repos
  .clear
  public_gists :
  = user.public_gists
- if user.location == 'none'
  %hr{:style => "width:800px;float:left;"}
  .clear
  %br