%h1
  Welcome
%br
= form_tag get_commiters_users_path do
  = label_tag "User"
  = text_field_tag "user"
  %br
  = label_tag "Repo"
  = text_field_tag "repo"
  %br
  %input{:type=>"submit", :id=>"submit", :value=>"Submit", :disabled=>"disabled"} 
