%div{:style => "float:left;"}
  %h1
    Repository Information
  Name :
  = @repo.name
  .clear
  
  Owner :
  = @repo.owner
  .clear
  Description :
  = @repo.description
  .clear
  Watchers :
  = @repo.watchers
  .clear
  Open Issues :
  = @repo.issues
  .clear
  Forks :
  = @repo.forks
  .clear
  
%div{:style => "float:right;width:850px;"}
  %h1
    Committers With Location
  
  = gmaps4rails(@json)
  %br
  
  %h1
    Committers Without Location
  
  = render :partial => 'user', :collection => @users