%div{:style => "float:left;"}
  %h1
    Repository Information
  Name :
  = @repo.name
  .clear  
  Owner :
  = @repo.owner
  .clear
  Language :
  = @repo.language
  .clear
  Description :
  = @repo.description
  .clear
  Watchers :
  = @repo.watchers
  .clear
  Open Issues :
  = @repo.issues
  .clear
  Forks :
  = @repo.forks
  .clear
  %h1
    Graph
  %div{:id => 'chart'}
    = render_chart(create_events_stats(@events), 'chart')
  .clear
  %h1
    Collaborators
  - @collaborators.each do |collaborator|
    = render :partial => 'collaborator', :locals => {:collaborator => collaborator}
  .clear
  %h1
    Last 10 Issues
  - @issues.each do |issue|
    = render :partial => 'issue', :locals => {:issue => issue}
  .clear
%div{:style => "float:right;width:850px;"}
  %h1
    Committers With Location
  
  = gmaps4rails(@json)
  %br
  
  %h1
    Committers Without Location
  
  = render :partial => 'user', :collection => @users