
%html
  %head
    %title
      GithubAPIGooglemaps
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    'gmaps4rails' 
    = javascript_include_tag "application"
    = javascript_include_tag "http://www.google.com/jsapi"
    = csrf_meta_tags
  %body
    = yield

  %footer
    = yield :scripts
